.blocs {
    display: flex;
    justify-content: center;
}

.blocs2 {
    display: flex;
    justify-content: space-between;
}

.price {
    font-size: 25px;
}

#image {
    max-height: 10px;
}

.movievideo {
    width: 640px;
    height: 360px;
}

.bordure {
    border: solid 1px blue;
    padding: 1em;
}

.marge {
    margin-top: 2em;
}

.opacite:hover {
    opacity: 1;
}

.opacite {
    opacity: 0.8;
}

.trait {
    width: 100vh;
    height: 1px;
    background-color: grey;
}

.margin {
    margin-bottom: 1em;
}

.prix {
    display: flex;
    justify-content: flex-end;
}

.validation {
    display: block;
    text-align: center;
    margin-top: 2em;
    font-size: 2em;
}