{% extends 'base.html.twig' %} {% block title %}Register{% endblock %} {% block body %}
<link rel="stylesheet" href="/style/styleProfile.css">


<div class="container-fluid text-center">
    <div class="row">
        <div class="col-12 p-3 m-3 text-center">
            <h2>Edit your information</h2>
        </div>
    </div>
    <div class="row p-3 m-3 justify-content-center">
        <div class="col-3">
            {{form_start(form)}} {{form_widget(form)}}
            <button class="btn btn-info justify-content-center">Modify</button> {{form_end(form)}}
        </div>
    </div>
</div>
{% endblock %}