{% extends 'base.html.twig' %} {% block title %}Movies Search{% endblock %} {% block body %}

<link rel="stylesheet" href="/style/styleProfile.css">





<div class="container emp-profile">
    <form method="post">
        <div class="row">

            <div class="col-md-10">
                <div class="profile-head">
                    <h5>
                        Welcome {{app.user.username}}
                    </h5>
                </div>
            </div>
            <div class="col-md-2">
                <a type="submit" href="{{path('profil_modify')}}" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />Modify Profil</a>
                <a type="submit" href="{{path('password_modify')}}" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />Modify Password</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content profile-tab" id="myTabContent">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <p id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About you</p>
                        </li>

                    </ul>
                    <div class="tab-pane fade show active text-secondary" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <label>First Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{app.user.FirstName}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <label>Last Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{app.user.LastName}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{app.user.Mail}}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>






{% endblock %}