{% extends 'base.html.twig' %} {% block title %}My Cart{% endblock %} {% block body %}

<h1 class="text-center">Cart content:</h1>
<link rel="stylesheet" href="{{ asset('/style/show.css') }}" />

<div class="container">

    {# somme est le total du panier qui va être afficher #} {% set somme = 0 %} {# boucle de film pour le panier#} {% for movie in user.cart.content %}


    <div class="jumbotron row">

        <img class="col-2" src="{{movie.imagePath}}" />

        <div class="col-8">
            <h3 class='col-12'>{{movie.name}}</h3>
            <a class='col-12'>{{movie.creator}}</a>
        </div>

        <div class='col-12 trait margin'></div>

        <div class='col-12 margin blocs2'>
            <a href="{{ path('delete_cart', {id: movie.id})}}" type="button" class="btn btn-secondary">Delete</a>
            <a class="price">{{movie.price}} $</a> {# adition du prix pour chaque films#} {% set somme = somme + movie.price %}
        </div>
        </section>


        {# endfor des films#} {% endfor %}



        <div class='col-12 margin blocs2'>
            <a>Total of your cart </a>
            <a class="price">{{somme}} $</a>

        </div>
        <div class="col-12 margin blocs2">
            <a type="button" href="{{ path('home')}}" class="btn btn-info col-4 text-secondary border border-secondary">Keep on shopping</a>
            <a type="button" href="{{path('validation_cart')}}" class="btn btn-info col-4 text-secondary border border-secondary">Confirm the cart</a>
        </div>

    </div>
    {% endblock %}