{% extends 'base.html.twig' %} {% block title %}Validation{% endblock %} {% block body %}
<link rel="stylesheet" href="{{ asset('/style/show.css') }}" />


<div class="validation" style="min-height: 250px;">
    <h2>Thank you for shopping with us</h2>
    <h3>Hope we'll see you soon !!</h3>
    <a class="text-info" href="{{ path('home')}}">Back home</a>
</div>

{% endblock %}