{% extends 'base.html.twig' %} {% block title %}Users index{% endblock %} {% block body %}
<div class="row justify-content-center mt-3">
    <h1>Users index</h1>
    <a class="btn text-secondary btn-info ml-5 mt-2 mb-2" href="{{ path('register') }}">Create new</a>
</div>
<div style="min-height: 250px;">
    <table class="table container-fluid">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Password</th>
                {#
                <th>Admin</th> #}
                <th>Mail</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Admin actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                {#
                <td>{{ user.admin ? user.admin|join(', ') : '' }}</td> #}
                <td>{{ user.mail }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>
                    <a class="btn btn-info text-secondary" href="{{ path('user_show', {'id': user.id}) }}">see details</a>
                    <a class="btn btn-danger" href="{{ path('user_delete', {'id': user.id}) }}">delete</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}