{% extends 'base.html.twig' %} {% block title %}Movies index{% endblock %} {% block body %}

<div class="row justify-content-center">
    <h1 class="">Movies index</h1>
    {% if app.user and app.user.admin %}
    <a class="btn text-secondary btn-info ml-5 mt-2 mb-2" href="{{ path('movies_add') }}">Create new</a> {% endif %}
</div>

<table class="table container-fluid">
    <thead>
        <tr class="row justify-content-center">
            {% if app.user and app.user.admin %}
            <th class="col-1">Id</th>
            {% endif %}
            <th class="col-2">Name</th>
            <th class="col-1">Creator</th>
            <th class="col-1">Duration</th>
            <th class="col-3">Description</th>
            <th class="col-1">ImagePath</th>
            {% if app.user and app.user.admin %}
            <th class="col-3">Admin</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for movie in movies %}

        <tr class="row justify-content-center">
            {% if app.user and app.user.admin %}
            <td class="col-1">{{ movie.id }}</td>
            {% endif %}


            <td class="col-2"><a class="d-block d-inline" href="{{ path('movies_show', {id: movie.id})}}">{{ movie.name }}</a></td>

            <td class="col-1">{{ movie.creator }}</td>
            <td class="col-1">{{ movie.duration }}</td>
            <td class="col-3">{{ movie.description[:150] ~ '...' }}</td>
            <td class="col-1" style="background-image: url('{{ movie.imagePath }}'); background-size: 70px; background-repeat: no-repeat;">
                <a class="d-block d-inline" href="{{ path('movies_show', {id: movie.id})}}"></a>
            </td>

            {% if app.user and app.user.admin %}
            <td class="col-3">
                <a class="btn text-secondary btn-info" href="{{ path('movies_show', {'id': movie.id}) }}">show</a>
                <a class="btn text-secondary btn-info" href="{{ path('movies_edit', {'id': movie.id}) }}">edit</a>
                <a class="btn text-secondary btn-info" href="{{ path('movies_delete', {'id': movie.id}) }}">delete</a>
            </td>
            {% endif %}
        </tr>



        {% else %}
        <tr>
            <td colspan="8">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}