{% extends 'base.html.twig' %} {% block title %}Movies Search{% endblock %} {% block body %}

<div class="container">
    <div class="row">
        {% if movies == [] %}
        <div style="min-height: 250px;">
            <h1 class="col-12 text-center">No content for this search, please try again</h1>
        </div>
        {% endif %} {% include "_cardMovie.html.twig" %}
    </div>
</div>
</div>

</div>

{% endblock %}