{% extends 'base.html.twig' %} {% block title %}Movies{% endblock %} {% block body %} {# ligne pour ajouter mon fichier show.css#} {#bloc 1 for title, video and duration bolcs2 type author and button for the sell#}
<link rel="stylesheet" href="{{ asset('/style/show.css') }}" />

<link rel="stylesheet" href="{{ asset('/style/show.js') }}" />

<div class="container-fluid" class="">

    <section id="first part" class=" blocs row">

        <!--titre-->
        <h1 class="col-12 col-lg-8 blocs ">{{ movie.name }}</h1>
        <!--video-->
        <div id="rubricmovie " class="col-12 col-lg-8 blocs bordure">
            <embed class=" movievideo " src="{{ movie.videoPath }}" autostart="false" allowfullscreen>
        </div>
        <!--time-->
        <div class="col-12 col-lg-8 blocs bordure">
            <p>{{ movie.duration }} minutes</p>
        </div>
        <!--description-->
        <div class="col-12 col-lg-8 bordure blocs">
            <p> {{ movie.description }}</p>
        </div>

    </section>
    <!--end of section first part-->

    <!-- second part about information about movie-->
    <section id='second part' class="row blocs ">
        <!--director and type-->
        <div class="col-12 col-lg-8 blocs2 bordure">
            <p>A movie by {{ movie.creator }}</p>
            <p>Category : {{ movie.TypeFK.categorie }}</p>
        </div>
    </section>
    <!--end of second part-->

    <section id="price" class="row blocs ">
        <div class="col-12 col-lg-8 blocs2 bordure ">

            {% if app.user and app.user.admin %}
            <a class="btn text-secondary btn-info" href="{{ path('movies_show', {'id': movie.id}) }}">show</a>
            <a class="btn text-secondary btn-info" href="{{ path('movies_edit', {'id': movie.id}) }}">edit</a>
            <a class="btn text-secondary btn-info" href="{{ path('movies_delete', {'id': movie.id}) }}">delete</a> {% else %}
            <a class="price">Price : {{movie.price}} $</a>
            <a href="{{ path('cart') }}"><img src="/style/img/icons8-panier-chargé-50.png" title="See Cart" alt="Cart"></a>

            <a href="{{ path('add_cart', {id: movie.id})}}"> <img class="opacite" title="Add to Cart" alt="Add To Cart" src="/style/img/icons8-ajouter-au-panier-50.png"></a>

            {% endif %}
        </div>
    </section>

    <section id='boutton' class="row blocs marge">
        <div class="col-12 col-lg-8 blocs ">
            <a type="button" class="btn btn-info" href="{{ path('movies_index') }}">Back to list</a>
        </div>
    </section>
    <!--end of boutton-->

    <section id="copyright" class="blocs marge">
        <a>Yala Team @</a>
    </section>

</div>

{% endblock %}