{% extends 'base.html.twig' %} {% block title %}Edit a movie{% endblock %} {% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Edit a movie</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            {{form_start(form)}} {{form_widget(form)}}
            <button class="btn btn-info">Edit</button> {{form_end(form)}}
        </div>
    </div>
</div>
{% endblock %}