 {% extends 'base.html.twig' %} {% block title %}login{% endblock %} {% block body %} {% if errors %}
<div>{{ errors.messageKey|trans(errors.messageData, 'security') }}</div>
{% endif %}

<div class="container-fluid" style="min-height: 300px;">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Please Login</h2>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <form action="{{path('login')}}" method="post">
            <label for="username">Username : </label>
            <input type="text" name="_username" id="username" value="{{username}}">

            <label for="password">Password : </label>
            <input type="password" name="_password" id="password">
            <input type="hidden" name="_target_path" value="{{path('home')}}" />
            <button>Login</button>
        </form>
    </div>
</div>
{% endblock %}