{% extends 'base.html.twig' %} {% block title %}Register{% endblock %} {% block body %} {% if app.user and app.user.admin == false %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>You're already Log in !! No need to register !</h2>
            <a href="{{ path('movies_index')}}" title="home">Back to Home</a>
        </div>
    </div>
</div>
{% else %}
<div class="container-fluid text-center">
    <div class="row">
        <div class="col-12">
            <h2>Please Register</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-3">
            {{form_start(form)}} {{form_widget(form)}}
            <button class="btn btn-info text-secondary">Register</button> {{form_end(form)}}
        </div>
    </div>
</div>
{% endif %} {% endblock %}