{% for movie in movies %}
<div class="col-sm-6 col-md-4 border-info mb-3 post m-1" style="max-width: 23rem;">
    <div class="card border-info " style="max-width: 23rem;">
        <img src="{{movie.imagePath}}" class="img-fluid" alt="Film image" style="height: 30rem;">
        <div class="card-body">
            <h4 class="card-title text-info text-center">By {{movie.creator}}</h4>
            <p class="card-text text-info">{{movie.description[:35] ~ '...'}}</p>
        </div>
        <div class="card-body mx-auto">
            <a type="button" class="btn text-secondary btn-info" href="{{ path('movies_show', {id: movie.id})}}" data-dismiss="modal" href>See Details</a>
            <a type="button" class="btn text-secondary btn-info" href="{{ path('add_cart', {id: movie.id})}}" data-dismiss="modal">Add to cart</a>
        </div>
    </div>
</div>
{% endfor %}