<div class="row mx-auto">
    <form class="form-inline" method="GET" action="{{path('search_movies')}}">
        <select id="selectCat" class="custom-select" name="selectedCategory">
            <option>Search by category</option>
            
            {% for categories in category %}
            <option name='{{categories.categorie}}' value="{{categories.id}}">{{categories.categorie}}
            </option>
            {% endfor %}
        </select>
        <button class="btn btn-outline-success mx-2">Search</button>
    </form>
</div>