<nav class="navbar navbar-expand-lg navbar-light bg-white ">
    <img src="/style/img/film-reel-147631_640.png" alt="Logo" class="navbar-brand mr-5" style="width: 50px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav">
            <div class="row mx-3">
                <li class="nav-item">
                    <a class="nav-link text-center" href="{{ path('home')}}" title="Movies"><img src="/style/img/icons8-clap-50.png" style="width: 35px;"><br/>Home</a>
                </li>

                {% if app.user and app.user.admin == false %}
                <li class="nav-item">
                    <a class="nav-link text-center" href="{{ path('cart')}}" title="Cart"><img src="/style/img/icons8-panier-chargé-50.png" style="width: 35px;"><br/>My Cart</a>
                </li>
                {% endif %} {% if app.user == false %}
                <li class="nav-item">
                    <a class="nav-link text-center" href="{{ path('login')}}" title="Login"><img src="/style/img/icons8-utilisateur-vérifié-homme-50.png" style="width: 35px;"><br/>Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="{{ path('register')}}" title="Register"><img src="/style/img/icons8-modifier-l'utilisateur-homme-50.png" style="width: 35px;"><br/>Register</a>
                </li>
                {% endif %} {% if app.user and app.user.admin %}
                <li class="nav-item">
                    <a class="nav-link text-center" href="{{ path('movies_index')}}"><img src="/style/img/icons8-film-64.png" style="width: 35px;" title="addMovie"><br/>See<br/>Movies</a>
                </li>
                <li>
                    <a class="nav-link text-center" href="{{ path('users_index')}}"><img src="/style/img/icons8-modifier-l'utilisateur-homme-50.png" style="width: 35px;" title="addMovie"><br/>See<br/>Users</a>
                </li>
                {% endif %}</div>
            <div class="navbar-nav navbar-center">
                {{ render(controller( 'App\\Controller\\NavBarController::search')) }}


                <form action="{{path('search_results')}}" class="form-inline my-2 my-lg-0 p-sm-0 p-2">
                    <input class="form-control mr-sm-2" type="search" placeholder="Type your keywords here" aria-label="Search" name="search">
                    <button class="btn btn-outline-success mx-2 invisible" type="submit">Search</button>
                </form>
            </div>
        </ul>
    </div>
    <div class="navbar-nav navbar-right">
        <div class="row">
            {% if app.user %}

            <a class="nav-link text-center" href="{{ path('profil_show')}}"><img src="/style/img/icons8-trouver-l'utilisateur-homme-50.png" style="width: 35px;" title="Profil"><br/>Edit<br/>Profile</a>

            {% endif %} {% if app.user %}
            <div class="nav-link text-center">
                <h2 class="text-info m-2">Welcome <em>{{ app.user.username }}</em></h2>
                <a href="/logout" class="text-danger text-right logout">Logout :'(</a>
            </div>
        </div>
    </div>
</nav> {% endif %}