<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="/style/bootstrap.min.css">
    <link rel="stylesheet" href="/style/styleCard.css"> {% endblock %}
</head>

<body>
    <header class="container-fluid m-0 p-0"> {% include "_navbar.html.twig" %} </header>
    <div class="container-fluid w-100">
        {% block body %} {% endblock %}</div> {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% endblock %}
</body>
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<!-- Footer -->
<footer class="pt-3 pb-4" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6 mt-2 mb-4">
                <h5 class="mb-4 font-weight-bold">ABOUT US</h5>

                <ul class="f-address">
                    <li>
                        <div class="row">
                            <div class="col-1"><i class="fas fa-map-marker"></i></div>
                            <div class="col-10">
                                <h6 class="font-weight-bold mb-0">Address:</h6>
                                <p>10 Rue Georges Lyvet, 69200 Vénissieux.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row ">
                            <div class="col-1"><i class="far fa-envelope"></i></div>
                            <div class="col-10">
                                <h6 class="font-weight-bold mb-0">Have any questions?</h6>
                                <p><a href="#">Support@userthemes.com</a></p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 mt-2 mb-4">
                <h5 class="mb-4 font-weight-bold">LATEST UPDATES</h5>
                <ul class="recent-post">
                    <li>
                        <label class="mr-3">31<br><span>OCT</span></label>
                        <span>Mise à jour des films.</span>
                    </li>


                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
                <h5 class="mb-4 font-weight-bold">CONNECT WITH US</h5>

                <ul class="social-pet mt-4">
                    <li><a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" title="twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" title="google-plus"><i class="fab fa-google-plus-g"></i></a></li>
                    <li><a href="#" title="instagram"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright -->
<section class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="text-center text-white">
                    &copy; 2019 Yalaa Company. All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
</section>





</html>