 {% extends 'base.html.twig' %} {% block title %}Movies index{% endblock %} {% block body %}


<div class="container-fluid w-100">

    <div class="row justify-content-center mt-5" style="height: 500px;">
        <div id="carouselMovies" class="carousel slide" data-ride="carousel" data-interval="2500">
            <div class="carousel-inner">
                {% for movie in movies %}
                <div {% if loop.first %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
                    <img src="{{ movie.imagePath }}" class="d-block w-100" alt="{{ movie.name }}">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row mx-auto">
        <a class="btn btn-info text-secondary mx-auto" href="{{ path('movies_index')}}">See All Movies</a>
    </div>

    <hr>

    <div class="row mx-auto ">

        {% include "_cardMovie.html.twig" %}

    </div>
</div>
{% endblock %}