{% extends 'base.html.twig' %} {% block title %}User index{% endblock %} {% block body %}
<h1>User N° {{ user.id }}</h1>

<ul>
    <li>UserName : {{ user.username }}</li>
    <li>E-mail : {{ user.mail }}</li>
    <li>First Name : {{ user.firstName }}</li>
    <li>Last Name : {{ user.lastName }}</li>
</ul>

<a class="btn btn-info" href={{ path( 'users_index')}}>Back to list</a> {% endblock %}